html {
  background-color: #fff;
}

body {
  font-family: sans;
  font-size: 1.2em;
  text-align: center;
}

h1 {
  margin: 1.4em auto;
  font-weight: normal;
  font-size: 2em;
  color: #333;
}

p.error {
  background-color: #f66;
  font-weight: bold;
  padding: 0.5em;
}

p.debug {
  color: #777;
}

input.urlentry {
  width: 90%;
  max-width: 50em;
  margin: 0 0.3em 0.6em 0;
}

span.grey {
  color: #777;
}
